*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Inter', sans-serif;
    color:black;
}

body{
    font-size: 0.9rem;
    display:flex;
    flex-direction: column;
    min-height: 100dvh;
}

button{
    cursor: pointer;
}

.google-header{
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    padding:1rem;
    justify-content: space-between;
    gap:14px;
}

.nav-container{
    display:flex;
    gap:1rem;
    align-items: center;
    justify-content: center;
}

.nav-container-second .text-link{
    display:none;
}

.text-link,
footer a{
    display:flex;
    gap:1rem;
    text-decoration: none;
}

.text-link:hover,
footer a:hover{
    text-decoration: underline;
}

.icon-link{
    display:flex;
    gap:1rem;
    background:transparent;
    font-size:1rem;
    aspect-ratio: 1/1;
    border-radius:100%;
    width:30px;
    display:grid;
    place-items: center;
}

.icon-link:hover{
    background:rgb(232, 232, 232);
}

.img-icon{
    border:none;
    background:transparent;
}

.img-icon img{
    width:30px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow:hidden;
}

.title-text{
    font-size: 5rem;
}

main{
    display: flex;
    flex:1;
    flex-direction: column;
    gap:2rem;
    align-items: center;
    justify-content: center;
    padding:4rem 1rem;
}

.input-bar{
    display: flex;
    align-items: center;
    border:1px solid rgb(232, 232, 232);
    padding:0.5rem;
    width:100%;
    max-width:500px;
    border-radius: 2rem;
    gap:1rem;
}

.input-bar input{
    width:100%;
    border:none;
    outline:none;
}

.input-bar:hover,
.input-bar:focus-within{
    box-shadow: 0 0 4px 1px rgb(232, 232, 232);
}

.input-icon{
    border:none;
    background: transparent;
    font-size:1rem;
}

.input-icon:hover{
    opacity: 0.6;
}

.input-bar div{
    display:flex;
    align-items: center;
    gap:1rem;
}

.fa-magnifying-glass{
    color:rgb(109, 109, 109);
}

.input-icon i{
    color:rgb(66, 116, 203);
}

.button-grid{
    display:flex;
    gap:1rem;
}

.button-grid button:hover{
    border:1px solid slategray;
}

.button-grid button{
    padding:0.5rem 1rem;
    border:1px solid transparent;
    background:rgb(232, 232, 232);
    border-radius:0.25rem;
}

.language-text{
    font-size:0.7rem;
}

.language-link{
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

.language-link:hover{
    text-decoration: underline;
}

footer{
    background:rgb(232, 232, 232);
    font-size:0.7rem;
}

footer>div{
    padding:1rem;
}

.footer-grid{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:2rem;
}

.footer-links{
    display:flex;
    gap:1rem;
}

@media(min-width:640px){
    .footer-grid{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap:1rem;
    }

    .title-text{
        font-size: 6rem;
    }

    .input-bar{
        padding:0.75rem;
    }

    .nav-container-second .text-link{
        display:block;
    }

    footer{
        font-size:0.8rem;
    }
}